.container{
  cursor: pointer;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.row{
  display: flex;
}
.boxes{
  height: 150px;
  width: 150px;
  border: 2px solid black;
  position: relative;
}
.numero{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}
.inline{
  display: inline-block;
}
.style-yellow{
  background-color: yellow;
}
.style-green{
  background-color: green;
}
