.container{
  cursor: pointer;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.row{
  display: flex;
}
.boxes{
  height: 180px;
  width: 180px;
  border: 2px solid black;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inline{
  display: inline-block;
}
.style-yellow{
  background-color: yellow;
}
.style-green{
  background-color: green;
}
